{% extends "base.html" %}
{% block title %}Detalle Propaganda{% endblock title %}
{% block content %}
<div class="wrapper"> 
  <div class="content-wrapper">
    <section class="content">          
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
          
            <div class="box-header with-border">
          		<a href="{% url 'propagandas:lista_propagandas' %}" class="btn btn-success">
            		<span class="glyphicon glyphicon-chevron-left"></span> REGRESAR
                </a>              
              		<div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
            </div>
              <div class="box-body">
                  <table class="table table-striped table table-hover ">
                        <thead>
                            <tr>
                             <th><h2> Propaganda: {{ object.nombre | capfirst }}</h2></th>           
                           </tr>
                        </thead>              
	                    <tbody> 
	                          <tr class="success"> 
	                          	  <td><strong>Nro:</strong></td>                           
	                              <td>{{ object.id }}</td>
	                          </tr>
	                          <tr class="success">
	                          	  <td><strong>Nombre:</strong></td>
	                              <td>{{ object.nombre }} </td> 
	                           </tr>
	                           <tr class="success">
	                           	  <td><strong>Descripcion:</strong></td>
	                              <td>{{ object.descripcion }}</td>                              
	                           </tr>
	                           	<tr class="success">
	                           	  <td><strong>Url:</strong></td>
	                              <td>{{ object.url }}</td>                              
	                           </tr> 
	                           <tr class="success">
	                           	  <td><strong>Habilitado:</strong> </td>
	                           	  {% if object.habilitado == True %}
	                              	<td>Si</td>                  
	                              {% else %}
	                              	<td>No</td>                  
	                              {% endif %}
	                           </tr> 
	                    </tbody>
	               	</table>                                 
              </div>
          </div>
        </div>
    </section>
  </div>

{% endblock content %}


