{% extends "base.html" %}
{% block title %}Consejo{% endblock title %}

{% block content %}
    <div class="wrapper"> 
      <div class="content-wrapper">
        <section class="content-header">
          <h1>            
            Consejo Mecanica
          </h1>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-xs-12">

                <div class="box box-primary">
                  <div class="box-header with-border">
                    {% if user.empleado.tipo == 'Gerente' %}
                      <h3 class="box-title"><a href="{% url 'usmbot:crear_mecanica' %}" class="btn btn-success">
                      <i class="fa fa-plus-square"></i> NUEVO CONSEJO
                    {% endif %}
                    </a></h3>
                      {% if user.empleado.tipo == "Vendedor" %}
                        <a  class="btn btn-primary pull-right" href="/propagandas/reporte"><i class="fa fa-file-pdf-o"></i> REPORTE PDF</a>
                      {% endif %}
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                  </div>
                  <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                     <tr>
                        <th>N°</th>
                        <th>Titulo</th> 
                        <th>Habilitado</th>
                        <th><center> Acciones</center></th>                       
                      </tr>
                    </thead>
                    <tbody>
                    
                     {% for mecanica in lista_consejos %}          

                        <tr> 
                          <td>{{ forloop.counter }}</td>
                          <td>{{ mecanica.titulo }} </td> 
                          {% if mecanica.habilitado == True %}
                              <td> Si </td>
                          {% else %}
                              <td> No </td>
                          {% endif %}

                          <td class="text-right">
                            <center><a href="{% url 'usmbot:detalle_mecanica' mecanica.id %}" class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span></a>

                            <a href="{% url 'usmbot:actualizar_mecanica' mecanica.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                               {% if user.empleado.tipo == 'Gerente' %}
                            <a href="{% url 'usmbot:eliminar_mecanica' mecanica.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></center></a> 
                             {% endif %}
                          </td>                      

                          </tr>
                      {% endfor %}
                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
{% endblock content %}

{% block extrajs %}
    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
       </script>

       
{% endblock extrajs %}
