{% extends "base.html" %}
{% block title %}Clientes{% endblock title %}
{% block content %}
 
<div class="wrapper"> 
  <div class="content-wrapper">
    <section class="content">          
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <i class="fa fa-bullhorn"></i>             
            </div>
            <div class="box-body">
                <div class="callout callout-danger">                    
                  <h1>ELIMINAR CLIENTE</h1>
                  <form method="POST">
                  {% csrf_token %}
                    <p class="coloreliminar">¿Desea eliminar al cliente "{{ object.cedula }} {{ object.nombre }} {{ object.apellidos }}?</p>
                    <input type="submit" value="Sí" class="btn btn-warning"> 
                    <a href="{% url 'clientes_app:lista_clientes' %}" class="btn btn-info">No</a>
                  </form>                        
                </div>                                   
            </div>
          </div>
        </div>
    </section>
  </div>

{% endblock content %}

