              <li class="treeview">
                <a href="{% url 'inicio:dashboard' %}">
                  <i class="fa fa-trello"></i> <span>Bashboard</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="fa fa-child"></i> <span>Clientes</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li class="active"><a href="{% url 'clientes_app:lista_clientes' %}"><i class="fa fa-check-square"></i> Lista</a></li>
                  <li><a href="{% url 'clientes_app:crear_cliente' %}"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="fa fa-users"></i> <span>Proveedores</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li class="active"><a href="{% url 'proveedor:lista_proveedores'%}"><i class="fa fa-check-square"></i> Lista</a></li>
                  <li><a href="{% url 'proveedor:crear_proveedor' %}"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#">
                  <i class="fa fa-child"></i> <span>Personal</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li class="active"><a href="{% url 'empleados:lista_empleados' %}"><i class="fa fa-check-square"></i> Lista</a></li>
                  <li><a href="{% url 'empleados:crear_empleado' %}"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="fa fa-motorcycle"></i>
                  <span>Productos</span>
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="{% url 'productos:lista_productos' %}"><i class="fa fa fa-check-square"></i> Lista</a></li>                
                  <li><a href="{% url 'productos:crear_productos'%}"><i class="fa fa-save"></i><small class="label pull-right bg-green">Nuevo</small>Nuevo</a></li>               
                  <li><a href="{% url 'productos:listar-productos'%}"><i class="fa fa-weixin"></i>Productos FB Messenger</a></li>               
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="fa fa-reddit"></i>
                  <span>Chatbot</span>
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li>
                  <a href="{% url 'propagandas:lista_propagandas' %}"><i class="fa fa-circle-o"></i> Propagandas</a></li> 
                  <li><a href="{% url 'usmbot:lista_chiste' %}"><i class="fa fa-circle-o"></i> Chistes</a></li>
                  <li><a href="{% url 'usmbot:lista_consejos' %}"><i class="fa fa-circle-o"></i> Consejos Mecanica</a></li>
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="fa fa-laptop"></i>
                  <span>Ventas</span>
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                <li>
                  <a href="{% url 'ventas:lista_ventas' %}"><i class="fa fa-circle-o"></i> Lista Ventas</a></li> 
                </ul>
              </li>

              <li class="treeview">
                <a href="#">
                  <i class="fa fa-area-chart"></i>
                  <span>Graficas</span>
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li>
                  <li><a href="{% url 'graficos:graphic_productos' %}"><i class="fa fa-circle-o"></i> Grafico Productos</a></li>
                  <li><a href="{% url 'graficos:graphic_proveedores' %}"><i class="fa fa-circle-o"></i> Grafico Proveedores </a></li>
                  <li><a href="{% url 'graficos:graphic_mes' %}"><i class="fa fa-circle-o"></i> Grafico por Mes </a></li>
                </ul>
              </li>

