{% extends "base.html" %}
{% block title %}Productos{% endblock title %}
{% load i18n static %}

{% block content %}

    <div class="wrapper"> 
      <div class="content-wrapper">
        <section class="content-header">
          <h1>            
            PRODUCTOS
          </h1>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-xs-12">

            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">
                  {% if user.empleado.tipo == 'Gerente' %}
                  <a href="{% url 'productos:crear_productos' %}" class="btn btn-success">
                  <i class="fa fa-plus-square"></i> NUEVO PRODUCTO
                  </a>
                  {% endif %}
                </h3>
                {% if user.empleado.tipo == "Vendedor" %}
                  <a  class="btn btn-primary pull-right" href="/productos/reporte"><i class="fa fa-file-pdf-o"></i> REPORTE PDF</a>
                {% endif %}
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>

              <div class="box-header with-border">
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                      <thead>
                          <tr>
                           <th>N°</th>                                                     
                            <th>Numero Serie</th> 
                            <th>Tipo</th>                              
                            <th>Stock</th> 
                            <th>Precio</th> 
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Habilitado</th>
                            <th><center>Acciones</center></th>
                         </tr>
                      </thead>
                      <tbody> 
                      {% for producto in productos %}          

                          <tr> 
                              <td>{{ forloop.counter}}</td>                             
                              <td>{{ producto.numero_serie }} </td> 
                              <td>{{ producto.tipo }}</td>
                              {% if producto.cantidad <= 0 %}
                                  <td><span class="label label-danger">AGOTADO</td>
                              {% else %}
                                  <td><span class="label label-success">{{ producto.cantidad }}</td>
                              {% endif %}

                              <td>{{ producto.precio_venta }}</td>
                              <td><b style="color:blue;">{{ producto.nombre| capfirst }}</b></td>   

                              {% if producto.imagen %}
                                  <td><img src={{ producto.imagen.url }} width=50 height=50 class="img-circle" /></td>
                              {% else %}
                                  <td><img src="{% static 'img/bot.png' %}" width=50 height=50 class="img-circle" /></td>
                              {% endif %}

                              {% if producto.habilitado == True %} <td align="center">Si</td>
                              {% else %}<td align="center">No</td>
                              {% endif %}
                              
                              <td class="text-right">
                                  <center>
                                  <a href="{% url 'productos:detalle_productos'  producto.id %}" class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span></a>
                                  <a href="{% url 'productos:actualizar_productos' producto.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                                    {% if user.empleado.tipo == 'Gerente' %}
                                        <a href="{% url 'productos:eliminar_productos' producto.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a> </center>
                                    {% endif %}
                              </td>
                          </tr>
                      {% endfor %}
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        
{% endblock content %}

{% block extrajs %}

    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
       </script>

    <script>
      $(document).ready(function() {
          toastr.success('Recuerda que debes tener como minimo 1 producto habilitado y como maximo 10 productos por categoria');
      });

    </script>
{% endblock extrajs %}